.nav {
    background-color: #008148;
    width: 100%;
    box-shadow: 0px 15px 10px #034732;
    font-family: "Just Me Again Down Here", cursive;
    color: #fff;
    font-size: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 13vh;
}